{% extends 'base_back.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>AdrLiv</th>
                <th>AdrFacture</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.Nom }}</td>
                <td>{{ client.Prenom }}</td>
                <td>{{ client.adrLiv }}</td>
                <td>{{ client.adrFacture }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.solde }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
